<div class="container text-center mt-5 d-flex justify-content-center">

  <p 
    class="border m-0 col-6 d-flex align-items-center justify-content-center fs-1">
    {{ value }}
  </p>

  <div class="mx-2 lh-1">

    <button 
      class="btn btn-success btn-lg d-block mb-2"
      (click)="add()"
    > + </button>
  
    <button 
      class="btn btn-danger btn-lg d-block"
      (click)="subtract()"
      > - </button>

  </div>

</div>
<p class="card-body text-center" *ngIf="warning === true">El valor no puede se negativo y mayor 50</p>
